{% extends "layout.html" %}
{% block content %}
<section id="about">
    <div class="container">
        <h2>Citatul Zile</h2>
        <p>
            "Înfruntă-ți fricile cu curaj, pentru că în fiecare provocare se ascunde o oportunitate de a crește și a
            deveni mai puternic. Viața este o călătorie, iar drumul său este pavat cu obstacole. Privește fiecare
            piedică ca pe o șansă de a-ți demonstra propria reziliență și hotărâre. Cu fiecare pas înainte, te
            transformi în versiunea cea mai puternică și mai inspirată a ta."</p>
    </div>
</section>
{% endblock content %}